<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<title>Home Page</title>
	
	 <link  rel="stylesheet" href="css/sign.css"  th:href="@{/css/home.css}" />
	<script
  		type="text/javascript"
  		src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"  th:src="@{js/home.js}"></script>
   
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
   
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
  
    <link rel="stylesheet" href="css/mdb.min.css" />
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css" rel="stylesheet"/>
</head>
<body>
	<h1>this is home page</h1>
		<a   href=" "  th:href="@{/sign}">  sign in </a>
	
		
</body>
</html>